.content {
  width: 90%;
  margin: 1.4rem auto auto auto;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
}
.title h1 {
  font-size: 2rem;
  color: rgb(227, 216, 216);
  font-weight: 500;
}

.mat-header-cell {
  background-color: #505050;
  color: white;
}
.table {
  width: 100%;
  border-radius: solid 3px;
}
.content-table {
  background-color: #505050;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 2px;
  text-align: center;
}
.mat-header {
  width: 5rem;
}
.mat-cell,
.mat-footer-cell {
  font-size: 14px;
  background-color: rgb(104, 101, 104);
  color: white;
}
.button_create {
  margin-bottom: .8rem;
  background-color: rgb(77, 77, 77);
  color: white;
}

.mat-cell cdk-cell cdk-column-livros mat-column-livros ng-star-inserted {
  align-items: center;
}
.edit {
  color: rgb(154, 154, 50);
}
.delete {
  color:rgb(187, 48, 48);
}
.livros {
  margin-left:1rem;
  color: rgb(0, 128, 255);
}
@media (max-width: 450px) {
  .mat-cell,
  .mat-footer-cell {
    font-size: 12px;
    padding: 0.2rem;
  }
}
